<div class="container">

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <th scope="row">{{nombre}}</th>
      <td>{{descripcion}}</td>
      <td>{{cantidad}}</td>
      <td>{{date}}</td>
      <td><a href="/products/edit/{{_id}}"><i class="fas fa-edit"></i></a></td>
      <td><a href="/products/delete/{{_id}}"><i class="far fa-trash-alt" style="color: red;"></i></a></td>
    </tr>

    {{else}}

      <div class="jumbotron">
  <h1 class="display-4">No hay profuctos en la BD</h1>
  <p class="lead">Por favor, añade un producto e intentalo nuevamente.</p>
  <hr class="my-4">
  
  <a class="btn btn-primary btn-lg" href="/products/add" role="button">Agregar producto</a>
</div>

    {{/each}}
   
  </tbody>
</table>
</div>